<div class="card">
  <div class="card-header">
    Principe de Infojeunes.fr
  </div>
  <div class="card-block">
    <div class="card-text">
      Infojeunes.fr est un site d'information pour les jeunes en France.
      Il a pour objectif de lutter contre la précarité rempante chez les jeunes en leur donnant un accès facile à toutes
      les informations pouvant leur être importante.
      Le site est accessible à l'aide de la création d'un compte gratuit.
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Nouveautées
  </div>
  <div class="card-block">
    <div class="card-text">
        <ul class="list">
            <li> Possibilitée de se créer un compte</li>
            <li> Système de j'aime</li>
            <li> Ajout du forum</li>
            <li> Ajout d'un jeu caché </li>
            <li> Système de news </li>
          </ul>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Nuit de l'info
  </div>
  <div class="card-block">
    <div class="card-text">
      Ce site fut réalisé lors de la Nuit de l'Info 2019. La Nuit de l'Info est serious-game regroupant des milliers
      d’étudiants pour développer une application informatique en une nuit (de 16h30 à 8h00). Cette année le sujet était
      la précarité étudiante
      (sujet fournis par l'Universitée Grenoble Alpes).
      L'objectif était de créer un outil utile pour les étudiants dans la lutte contre la précarité.

      <p>En plus du sujet principale fournis notre équipe à participé à 5 défis d'entreprise:</p>
      <ul class="list">
        <li> 404 GAME FOUND <span class="label label-info">ATOS</span></li>
        <li> Micro-Services <span class="label label-info">VIVERIS</span> </li>
        <li> Clarity <span class="label label-info">VMWARE FRANCE</span></li>
        <li> ChatBot <span class="label label-info">AGIXIS</span></li>
        <li> GIF <span class="label label-info">UBISOFT</span></li>
      </ul>

    </div>
  </div>
  <div class="card-footer">
    <a href="https://www.nuitdelinfo.com/"> Site officiel de la Nuit de l'Info </a>
  </div>
</div>