<button class="btn btn-primary" [routerLink]="[ '/forum' ]">Go back to the forum</button>
<div class="clr-row">
    <div class="clr-col-lg-11 clr-col-md-12 clr-col-12">
        <div class="card">
            <div class="card-header">
                {{thread.title}}
            </div>
            <div class="card-block">
                <div class="card-title">
                    {{thread.user.login}}
                </div>
                <div class="card-text">
                    {{thread.cat}}
                </div>
            </div>
        </div>

        <div *ngFor="let res of responses" class="card">
            <div class="card-header">
                {{res.user.login}}   
            </div>
            <div class="card-block">
                <div class="card-title">
                    {{res.timestamp | date:'medium'}}
                </div>
                <div class="card-text">
                    {{res.content}}
                </div>
            </div>
            <div class="card-footer">
                <button (click)="like(res.idR)"class="btn btn-sm btn-link" >J'aime ({{res.upvotes}})</button>
            </div>
        </div>

        <form clrForm *ngIf="session?.isConnected === true">
            <clr-input-container>
                <label>Content</label>
                <textarea clrInput type="text" [(ngModel)]="response" name="response"></textarea>
            </clr-input-container>
            <button class="btn btn-primary" type="submit" (click)="post()"></button>
        </form>
    </div>
</div>