<clr-datagrid>
    <clr-dg-column>Title</clr-dg-column>
    <clr-dg-column>Author</clr-dg-column>
    <clr-dg-row *ngFor="let thread of threads" [routerLink]="[ '/thread', thread.id ]">
        <clr-dg-cell>{{thread.title}}</clr-dg-cell>
        <clr-dg-cell>{{thread.author}} </clr-dg-cell>
    </clr-dg-row>
        
</clr-datagrid>