<footer>

    <div class="card">

        <div class="card-header">
            Infojeunes.fr par l'équipe: 418 I am a teapot
        </div>

        <div class="clr-row">

            <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
                <div class="card-block">
                    <clr-accordion>
                        <clr-accordion-panel>
                            <clr-accordion-title> Alan Guivarch </clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded> Polytech Grenoble
                            </clr-accordion-content>
                        </clr-accordion-panel>

                        <clr-accordion-panel>
                            <clr-accordion-title> Alexandre Salmon </clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded> Polytech Grenoble
                            </clr-accordion-content>
                        </clr-accordion-panel>

                        <clr-accordion-panel>
                            <clr-accordion-title> Amine Farhat </clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded> IM²AG </clr-accordion-content>
                        </clr-accordion-panel>

                        <clr-accordion-panel>
                            <clr-accordion-title> François-Xavier Gros </clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded> IM²AG </clr-accordion-content>
                        </clr-accordion-panel>

                        <clr-accordion-panel>
                            <clr-accordion-title> Louis Boulanger </clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded> IM²AG </clr-accordion-content>
                        </clr-accordion-panel>
                    </clr-accordion>
                </div>
            </div>

            <div class="clr-col-lg-3 clr-col-md-6 clr-col-12">
                <div class="card-block">
                    <clr-accordion>
                        <clr-accordion-panel>
                            <clr-accordion-title> Morgan Crociati </clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded> Polytech Grenoble
                            </clr-accordion-content>
                        </clr-accordion-panel>

                        <clr-accordion-panel>
                            <clr-accordion-title> Romain Pasdeloup </clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded> Polytech Grenoble
                            </clr-accordion-content>
                        </clr-accordion-panel>

                        <clr-accordion-panel>
                            <clr-accordion-title> Thomas Frion </clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded> Polytech Grenoble
                            </clr-accordion-content>
                        </clr-accordion-panel>

                        <clr-accordion-panel>
                            <clr-accordion-title> Thomas Herve </clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded> IM²AG </clr-accordion-content>
                        </clr-accordion-panel>

                        <clr-accordion-panel>
                            <clr-accordion-title> Tom Graugnard </clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded> Polytech Grenoble
                            </clr-accordion-content>
                        </clr-accordion-panel>
                    </clr-accordion>
                </div>
            </div>

            <div class="clr-col-lg-3 clr-col-md-6 clr-col-12" style="text-align: center;">
                <div class="card-block">
                    <div class="card-img">
                        <a href="https://www.univ-grenoble-alpes.fr/">
                            <img class="image_footer"
                                src="https://www.univ-grenoble-alpes.fr/medias/photo/logo-uga_1536325411888-png?ID_FICHE=177412&INLINE=FALSE"
                                alt="Logo Universitée Grenoble Alpes" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="clr-col-lg-3 clr-col-md-6 clr-col-12" style="text-align: center;">
                <div class="card-block">
                    <div class="card-img">
                        <a href="https://www.nuitdelinfo.com/">
                            <img class="image_footer"
                                src="https://pbs.twimg.com/profile_images/1051836795745382400/XjGKhSdO_400x400.jpg"
                                alt="Logo Nuit De L'Info" />
                        </a>
                    </div>
                </div>
            </div>


        </div>

    </div>

</footer>