
    <clr-header class="header-5" id="header">
            <div class="branding"  [clr-nav-level]="1">
                <img id="logo_site" src="assets/img/logo_ver1.png" alt="Logo site" />
            </div>

            <div class="header-nav" [clr-nav-level]="1">
                <a href="javascript://" routerLink="/home" routerLinkActive="active" class="nav-link nav-text"> Home
                </a>
                <a href="javascript://" routerLink="/news" routerLinkActive="active" class="nav-link nav-text"> News
                </a>
                <a href="javascript://" routerLink="/forum" routerLinkActive="active" class="nav-link nav-text"> Forum </a>
                <a href="javascript://" routerLink="/chatbot" routerLinkActive="active" class="nav-link nav-text"> Chatbot </a>
            </div>

            <div class="header-actions" *ngIf="session?.isConnected === true;else notlogged">
                <clr-dropdown>
                    <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
                            {{session.username}}
                        <clr-icon shape="user"></clr-icon>
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                        <span href="..." clrDropdownItem> Paramètres </span>
                        <a href="javascript://" routerLink="/login" clrDropdownItem>Se déconnecter</a>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div>
            <ng-template #notlogged>
                <div class="header-actions">
                    <a href="..." class="nav-link nav-icon" routerLink="/login" routerLinkActive="active">
                        <clr-icon shape="login"></clr-icon>
                    </a>
                    <a href="..." class="nav-link nav-text" routerLink="/signup" routerLinkActive="active">
                        S'inscrire
                    </a>
                </div>
            </ng-template>
        
    </clr-header>
