<div class="content-container">
  <div class="content-area">
    <div class="login-wrapper">
      <form class="login">
        <section class="title">
          <h3 class="welcome">Bienvenue sur</h3>
          Infojeunes.fr
          <h5 class="hint">
            Utilisez vos identifiants ou créez vous en maintenant
          </h5>
        </section>
        <div class="login-group">
          <clr-input-container>
            <label class="clr-sr-only">Username</label>
            <input
              type="text"
              name="username"
              clrInput
              placeholder="nom"
              [(ngModel)]="username"
            />
          </clr-input-container>
          <clr-password-container>
            <label class="clr-sr-only">Password</label>
            <input
              type="password"
              name="password"
              clrPassword
              placeholder="mot de passe"
              [(ngModel)]="mdp"
            />
          </clr-password-container>
          <div [class]="hasError">
            Incorrect Username or password
          </div>
          <button type="submit" class="btn btn-primary" (click)="login()">
            Connexion
          </button>
          <a href="javascript://" class="signup">S'inscrire </a>
        </div>
      </form>
    </div>
  </div>
</div>
