<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" (click)="ChangeUrl('/planete/')">Santé</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="ChangeUrl('/societe/')">Logement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="ChangeUrl('/economie/actualites/')">Economie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="ChangeUrl('/culture/')">Scolarité</a>
        </li>
    </ul>
</nav>
<div class="content-container">
    <div class="content-area">
        <div class="clr-row">
            <div class="clr-col-12">
                <div *ngFor="let o of RssData?.rss.channel[0].item" class="card">
                    <div class="card-header">
                        {{o.title[0]}}
                    </div>
                    <div class="card-block">
                        <div class="clr-col-8">
                            <div class="card-text" [innerHTML]="o.description[0]">

                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a  [href] = "sanitize(o.link[0])"> BFMTV </a>
                        <span class="label label-info"> {{o.pubDate[0]}} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>