<div class="content-container">
  <div class="content-area">
    <h2 *ngIf="isDisplayed === true"> Voici quelques suggestions de forums répondant à votre question</h2>
    <ul>
      <li *ngFor="let answer of answers">
        <a
          href="javascript://"
          routerLink="/thread/{{ answer.id }}"
          class="nav-link nav-text"
          >{{ answer.title }}</a
        >
      </li>
    </ul>

    <form>
      <input type="text" (ngModel)="(query)" required />
      <button (click)="send()">Send</button>
    </form>
  </div>
</div>
