<div class="content-container">
    <div class="content-area">
        <div class="login-wrapper">
            <form class="login">

                <section class="title">
                    <h3 class="welcome">Bienvenue sur</h3>
                    Infojeunes.fr
                </section>

                <div class="login-group">

                    <clr-input-container>
                        <label>Nom d'utilisateur:</label>
                        <input type="text" name="username" clrInput placeholder="nom" [(ngModel)]="username" required/>
                    </clr-input-container>

                    <clr-input-container>
                        <label>Adresse électronique:</label>
                        <input type="email" name="mail" clrInput placeholder="e-mail" [(ngModel)]="mail" required/>
                    </clr-input-container>

                    <clr-password-container>
                        <label>Mot de passe:</label>
                        <input type="password" name="password" clrPassword placeholder="mot de passe" [(ngModel)]="mdp" required/>
                    </clr-password-container>

                    <clr-password-container>
                        <label>Confirmer mot de passe: </label>
                        <input type="password" name="password" clrPassword placeholder="mot de passe" [(ngModel)]="mdpconf" (ngModelChange)="compMdp()" required/>
                    </clr-password-container>

                    <clr-select-container>
                        <label>Université: </label>
                        <select clrSelect name="options" [(ngModel)]="uni" required>
                            <option *ngFor="let univ of universites" [value]="univ.nameU" >{{univ.nameU}}</option>
                        </select>
                        <clr-control-error>Vous devez choisir une université.</clr-control-error>
                    </clr-select-container>
                    <div [class]="mismatch">
                       Les mots de passe doivent correspondre.
                    </div>
                    <div [class]="alreadyExist">
                        Un utilisateur avec ce pseudo existe déjà.
                     </div>
                    <div [class]="success">
                        L'utilisateur a bien été enregistré.
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="register()">
                        Confirmer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>